.app-login{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  &-form{
    width: 300px;
    &-button{
      width: 100%;
    }
    &-forgot{
      float: right;
    }
  }
}